/* Submitted by Tsering Khando Lama C0916140 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

main {
    margin: 50px auto;
    width: 80%;
}

header {
    background-color: #37507e;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}



.forms-container {
    display: flex;
    justify-content: space-between;
}

form {
    width: 50%;
    margin: 0;
    padding: 0;
}

label {
    color: #747474;
}

.forms-container input {
    width: 100%;
    height: 5em;
    border-radius: 5px;
    border: none;
}

.input-container {
    display: flex;
    width: 80%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.flag-icon {
    background-color: #41507a;
    color: white;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flag-icon>img {
    width: 30px;
    height: auto;

}

span {
    margin-left: 5px;
}

.convert-btn {
    margin-top: 10%;
    background: linear-gradient(355deg, #010f39, #144297);
    padding: 3% 4%;
    color: #ffffff;
    border: 1px solid #010f39;
    box-shadow: -2px 4px 5px 3px #747474;
    cursor: pointer;
    border-radius: 55%;
    float: right;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}


.fa-exchange {
    text-align: center;
    color: #40a2f8;
    height: auto;
}


.exchange-icon {
    padding: 5%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

footer {
    background-color: #37507e;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



/* Media queries for responsive */

@media only screen and (max-width: 680px) {

    /* For mobile phones */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .forms-container {
        display: block;
    }

    form {
        width: 100%;
    }

    .flag-icon {
        border-radius: 5px 5px 0 0;
    }

    .convert-btn {
        margin-top: 10px;
    }

    .fa-exchange {
        transform: rotate(90deg);
    }

    .exchange-icon {
        padding: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    footer {
        font-size: 14px;
    }
}